*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 740px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
 Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-weight: 700;
}

ul {
  list-style: none;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

section {
  margin-top: 5rem;
}

button {
  cursor: pointer;
  background: transparent;
}

button:focus {
  outline: 0;
}

.whatsapp {
  color: #25d366;
}

.instagram {
  color: #e1306c;
}

.logo {
  font-size: 3rem;
  color: #555;
}

.slick-slide {
  margin: 0 27px;
}

.join {
  padding: 1.5rem !important;
  border: 1px solid #ef8767;
  border-radius: 3px;
  color: #ef8767;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  font-size: inherit;
}

.join:focus {
  outline: 0;
}

@media only screen and (max-width: 800px) {
  .join {
    display: none;
  }
}

.join:hover {
  background: #ef8767;
  color: #fff;
}

.container {
  padding: 4rem 3vw;
  height: 100%;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.4rem;
  padding: 4rem 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.nav__list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav__list a {
  margin: 0.5rem 3rem;
  cursor: pointer;
}

.nav__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 1px solid #e5e5e5;
}

.nav__filter {
  padding: 0 1rem;
}

.nav__filter:hover {
  border-bottom: 1px solid #ef8767;
}

.nav__filter-link {
  color: #777;
  font-weight: 100;
  line-height: 24px;
  display: inline-block;
  padding: 8px 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  padding-top: 10rem;
  width: 100%;
  height: 50vh;
}

.header__wrapper {
  background: #d6effa;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
  width: 50%;
}

@media only screen and (max-width: 1400px) {
  .header__content {
    width: 70%;
    padding-right: 1rem;
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header__content {
    width: 100%;
  }
}

.header__bg {
  width: 50%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .header__bg {
    display: none;
  }
}

.header__bg img {
  height: 130%;
  position: absolute;
  top: -3rem;
  right: 3rem;
}

.header__title {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1400px) {
  .header__title {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .header__title {
    font-size: 3.9rem;
  }
}
@media only screen and (max-width: 1000px) {
  .header__title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 740px) {
  .header__title {
    text-align: center;
  }
}

.header__search-box {
  position: relative;
  height: auto;
  margin-top: 3rem;
}

.header__search-box i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ef8767;
  cursor: pointer;
}

.header__search {
  border-radius: 3rem;
  padding: 1.5rem 4.5rem;
  border: 0;
  font-size: 1.6rem;
  width: 100%;
}

.header__search:focus {
  outline: 0;
}

.main {
  margin-top: 7rem;
}

.featured__container {
  margin-top: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.categories {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 140rem;
}

.categories__container {
  margin-top: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.category {
  padding: 5rem 0rem;
  width: 12rem;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.category:hover {
  background: #d1d1d1;
}

.category i {
  font-size: 3rem;
  color: #464646;
}

.category p {
  margin-top: 1rem;
  font-weight: 500;
}

.profile {
  position: relative;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.profile__bg {
  width: 100%;
  height: 30rem;
  border-radius: 4px 4px 0 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 740px) {
  .profile__bg {
    height: 20rem;
  }
}

.profile__bg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.profile:hover .profile__bg img {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.profile__img {
  height: 3.6rem;
  width: 3.6rem;
}

.profile__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .profile__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile__personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .profile__personal-info {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .profile__name {
    text-align: center;
  }
}

.profile__location {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .profile__location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile__location i {
  padding-right: 3px;
}

.profile__contact a {
  padding: 0 5px;
}

@media only screen and (max-width: 900px) {
  .profile__contact a {
    padding: 10px;
    font-size: 3rem;
  }
}

.profile__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__followers, .profile__real, .profile__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.profile__followers h4, .profile__real h4, .profile__price h4 {
  margin-bottom: 3px;
}

.profile__followers p, .profile__real p, .profile__price p {
  color: #777;
  font-size: 1.2rem;
}

.profiles{
  padding-bottom: 15rem;
}

.profiles__list {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

@media only screen and (max-width: 1200px) {
  .profiles__list {
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .profiles__list {
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .profiles__list {
        grid-template-columns: repeat(1, 1fr);
  }
}

.profiles__sub-title {
  text-align: center;
  color: #ef8767;
}

.profiles h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
  padding: 10rem 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}



.ReactModal__Overlay{
  z-index: 100000;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 10000000;
}
.ReactModal__Content.ReactModal__Content--after-open{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  bottom: auto !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  background-color: white !important;
  padding: 1rem 2.5rem !important;
  border-radius: 0.5rem !important;
  width: 45rem !important;
}

.modal-content h1 {
  padding: 32px 0;
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  color: #222325;
}

.modal-content__form button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #ef8767;
  color: #fff;
  padding: 13px 30px 13px 16px;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.modal-content__form button:hover {
  background: #b3634b;
}

.modal-content__form input {
  width: 100%;
  padding: 1.3rem 1.4rem;
  border: 1px solid #c5c6c9;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font: inherit;
  color: #404145;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  margin-bottom: 1.5rem;
}

.modal-content__form p {
  color: #62646a;
  text-align: center;
  padding-top: 20px;
  font-size: 1rem;
}

.facebook-signing-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 4px;
  padding: 13px 30px 13px 16px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.facebook-signing-button:hover {
  background: #36538f;
}

.facebook-signing-button p {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 0;
}

.facebook-signing-button i {
  font-size: 2rem;
}

.google-signing-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 13px 30px 13px 16px;
  margin: 12px 0;
  width: 100%;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.google-signing-button:hover {
  background: #d8d6d6;
}

.google-signing-button p {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

.google-signing-button i {
  font-size: 2rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #62646a;
  font-weight: 100;
  font-size: 1.2rem;
}

.modal-footer a {
  padding-left: 4px;
  color: #ef8767;
  cursor: pointer;
}

.divider {
  height: 12px;
  margin: 26px 0 32px;
  text-align: center;
  border-bottom: 1px solid #e4e5e7;
}

.divider span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 8px;
  background-color: #fff;
  color: #404145;
}


.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 50em) {
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.footer__logo img {
  height: 3rem;
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav li {
  margin-left: 1.5rem;
}

.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__nav a:hover,
.footer__nav a:active {
  color: #ef8767;
}

.footer__copyright {
  -ms-grid-column-align: end;
      justify-self: end;
  color: #999;
}

@media only screen and (max-width: 50em) {
  .footer__copyright {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.responsive-signup{
  display: none;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}
@media only screen and (max-width: 50em) {
  .responsive-signup{
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */